/* 

*todo: make the background of eth form visible 
*todo: reposition button with margin
todo: adjust margin sizes between inputs on the form
*todo: style the inside of teh select boxes
*todo: figur e out what you need to move to AppViews.css. that will include the classnames. lol :/
*/

/* ^form */
.taskForm_container{
    text-align: center;
    background-color: #3b6a3b
}


.taskForm_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b6a3b;
    border: 5px solid black;
    border-radius: .25rem;
}


.taskForm_selectText, .taskForm__title {
    color: #f9d65b;
    font-size: 130%;
}


.select_option{
    background-color: #3b6a3b;
    color: #f9d65b;
    font-size: 130%;
}


/* ^ form button */

.button_savesession{
    max-width: 25%;
    width: 8rem;
    height: 2.25rem;
    background-color: #d9e9c2;
    border: 2px solid black;
    border-radius: .25rem;
    margin: 10px;
    display: inline-block;
}