

/* ^countdown timer */

.timer_countdown {
    border: 1rem dotted green;
}

.timer_display {
    border: 15px pink solid;
}


.timer_countdown_numbers {
    background-color:  purple;
}

.timer_pause {
    color: aqua;
}

/* ^Submit task form  */

.button_savesession {
    width: 8rem;
    height: 2.25rem;
    background-color: #d9e9c2;
    border: 5px solid black;
    border-radius: .75rem;
    display: inline-block;
}
