/* 
! you have to style the taskfornm from here
*todo: find teh header 
*todo: figure out how style that bihhhhh (so everyone can see it)
todo: style timer
todo: basiucally move everything from Taskform.css over here lol
*/


/* ^sitewide */
/* &tThis is a pseudo class which is cool */
:root {
    background: #3b6a3b;
    background-image: url("https://wallpaperaccess.com/full/27037.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
.sitewide_subheader{
    padding-bottom: 15px;
}


.container--sitewide_welcome{
    text-align: center;
    text-shadow: 3px 2px black;
    background-color: #3b6a3b;
    max-width: 75%;
    margin-left: 18%;
    margin-right: 18%;
    border-radius: .75rem;
}



/* ^timer */
.timer_section{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #3b6a3b;
}

.button_Timer{
    background-color: #d9e9c2;
    margin: 5px 7px 5px 7px;
    border: 2px solid black;
    border-radius: .25rem;
}

.timer_readout {
    color: #f9d65b;
    font-size: 24px;
}

.timer_numbers {
    color: #f9d65b;
    font-size: larger;
}
